 body {
    margin: 0;
    padding: 0;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
 }

img {
    margin: 10px;
    width: 50%;
    height:auto;
    border-radius:20px ;
}

.container { 
    border-style: solid;
    width: 65%;
    height: 50%;
    margin: 10px auto;
    border-radius: 25px;
    text-align: center;
    background-color: white;
}

.headline {
    display: flex;
}

.title {
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-family: 'Alegreya Sans', sans-serif;
}

.date {
    text-align: right;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

}

.description {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 300px;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    font-family: 'Roboto', sans-serif;
}

.search-box {
    display: flex;
    margin: auto;
}

.search-icon {
    display: absolute;
    margin: auto;
    width: 40px;
}    

.header {
    display: flex;
    background-color: white;
} 

.header h1 {
    color: black;
    font-size: 50px;
    margin: 0;
}



.content h1 {
    display: block;
    margin-left: 20%;
    color: white
}

.header p {
    font-size: 30px;
    margin: 0 20px;
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1750px) {
    .container {
        width: 75%;
    }
}